@import "/src/theme.scss";

.styled-text-input {
  width: 496px;
  height: 46px;
  background: $white;
  border: 2px solid $black;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  font-weight: bold;

  &:focus {
    box-shadow: 0 0 2px 1px $blue-50;
  }

  &:hover {
    background: $gray-100;
    border: 2px solid $gray-150;
  }

  &::placeholder {
    color: $gray-50;
  }

  &.error {
    border-color: $red-50;

    &::placeholder {
      color: $red-100 !important;
    }
  }
}
