$white: #fff;
$black: #000;
$primary: #204080;
$secondary: #4f75c2;

$black-50: rgba(0, 0, 0, 0.25);

$blue-50: rgb(77, 144, 254);

$gray-50: #686868;
$gray-100: rgba(100, 100, 100, 0.08);
$gray-150: rgba(0, 0, 0, 0.6);
$gray-200: rgba(100, 100, 100, 0.5);

$red-50: #ff0000;
$red-100: rgba(255, 0, 0, 0.5);
